@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    /* colors */

    /* primary */
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);

    /* Accent */
    --blue: hsl(248, 32%, 49%);

    /* Neutral */
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c4c4ca;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: var(--red);
    width: 100%;
    /* margin: 50px; */
    min-height: 500px;
    max-width: 1440px;
    padding: 0 50px;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
}

.content {
    margin: 0 50px 10px;
    display: flex;
    width: 367px;
}

.text-content {
    padding: 10px 0;
    margin: 15px 0;
    position: relative;

}

.bold {
    margin-bottom: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;

}

.text {
    font-family: 'Poppins';
    clear: both;
    display: inline-block;
    overflow: visible;
    white-space: wrap;
    font-size: 10px;
    font-weight: 500;
    color: #fff;
}

.free {
    margin: 20px 0 0 0;
    padding: 12px 8px;
    width: 100%;
    cursor: pointer;
    /* border: 1px solid #2493FF; */
    /* overflow: visible; */
    display: inline-block;
    background-color: var(--dark-blue);
    color: #fff;
    position: relative;
    bottom: -45px;
    border-radius: 5px;
    border: none;
}

.free span {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.register {
    width: 350px;
    height: 300px;
    margin: 60px auto 50px auto;
    padding: 20px;
    position: relative;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register input {

    margin: 5px 0;
    padding: 10px;
    width: 100%;
    /* IE7 and below */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-btn {
    margin: 20px 0 0 0;
    padding: 12px 8px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    display: inline-block;
    background-color: var(--green);
    color: #fff;
    position: relative;
    margin-top: 0;
    margin-bottom: 5px;
    /* bottom: -45px; */
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
}

.footnote {
    font-size: 7px;
    text-align: center;
    font-weight: 200;
}

.footnote span {
    font-weight: 700;
    color: var(--red);
}

@media screen and (max-width: 375px) {

    .container,
    .content {
        display: block;
        width: 100%;
    }

    .
}